@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Quicksand, sans-serif;
    color: #36454F;
}

/* Header and Links */

.header-wrapper {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}

.game-rules {
    font-size: 120%;
    padding: 30px;
    text-transform: uppercase;
    text-decoration: underline;
}

.nav-right {
    padding: 30px;
}


.nav-right li {
    float: left;
    font-size: 120%;
    list-style-type: none;
    margin-right: 10px;
    text-decoration: underline;
}

.game-rules a:hover, .nav-right a:hover {
    text-decoration: none;
    opacity: 0.5;
} 

/* Heading  */

.heading {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}

.questions-area {
    margin-left: 25px;
    width: 60%;
    
}